# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Documents\University\Semester 7\Applied Algorithms EC9600\Assignment\TSP ASSIGNMENT\TSP_PROBLEM\Implementation\TSP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
